.feedback-form-container {
    position: fixed; /* Box stays the same size on scale. */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 2;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 300px;
  }
  
  .feedback-form-container.hidden {
    display: none;
  }
  
  .feedback-form-container input,
  .feedback-form-container textarea {
    width: 100%;
    padding: 0px;
    border: none; /* Comment box */
    border-radius: 5px;
    outline: 2px solid #18453b;
  }
  /* Feedback button */
  .feedback-form-container button {
    padding: 10px;
    background-color: #18453b;
    color: #fff;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
  }
  
  #toggle-feedback-button {
    position: fixed;
    bottom: 20px; /* Submit button */
    right: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #18453b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }  