/* Footer Styles */
.copyright-footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    width: 100%;
    padding: 20px 0;
    font-size: 1em;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    box-shadow: 
        0 -8px 16px rgba(0, 0, 0, 0.1),
        0 -4px 8px rgba(0, 0, 0, 0.05),
        inset 0 -1px 0 rgba(255, 255, 255, 0.8),
        inset 0 1px 0 rgba(0, 0, 0, 0.05);
    border-top: 1px solid #e0e0e0;
}

.copyright-footer p {
    margin: 0; /* Remove default margins */
    color: #18453b;
}