.login-container {
    width: 20vw; /* adjust to window size */
    margin: 50px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
}

#login-form {
    display: flex; 
    flex-direction: column;
    gap: 15px; /* Add spacing */
}

#login-form input { /* Input styling */
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3; /* Darken on hover */
}

.signup-button {
    padding: 1vh;
    font-size: 1.5vh;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #0056b3; /* Darken on hover */
}

.error-message {
    color: #FF0000;
    font-size: 14px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

